<!DOCTYPE html>
<html lang="en">
     <head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
  </head>
  <body>
        <main>
        
            <p class = "statement">
                This is best palindrome website where you find best result that your input is palindrome or not.
                Palindrome means both the side string read same. For example, "madam". If you read left to right or right to
                left, it read same.
            </p>
            <p class = "statement">
                So, our website give the best result to find the input string palindrome or not.
            </p>
            <form action="http://localhost:3000/result" method="post">
                <label for="palindrome-string"> Enter Palindrome String:</label>
                <input type="text" id="palindrome-string" name="text-to-test" class = "box"><br /><br />
                <input type="submit" value="Submit">
            </form>
        </main>
  </body>
</html>