{{#if data}}

<div class="page">
        <h1>Information</h1><br />
        <span>First Name: </span> {{data.firstName}}<br /> <br />
        <span>Last Name: </span> {{data.lastName}}<br /><br />
        <span>Profession: </span> {{data.Profession}} <br /><br />
        <span>Bio: </span> {{data.Bio}}<br /><br />

        <a href="/logout">logout</a>
</div>

{{/if}}