.failure {
    color: #dc3545;
    font-weight: bold;
    font-size: 20px; 
}

.success {
    color: #28a745;
    font-weight: bold;
    font-size: 20px; 
}

body {
    text-align: center;
}

.given_string{
    font-size: large; 
    font-weight: bold;
}

.statement {
    font-weight: bold;
    font-style: italic;
    color : orchid
}

.box {
    border: 2px solid black;
}

.heading {
    color: lightseagreen;
}